body{
    font-family:'Times New Roman', Times, serif;
    
   
}

h1{
color: palevioletred;
font-weight: bold;
}

li{
    padding: 10px;
    margin-left: 0px;
}

button{
    color:white;
    background-color: palevioletred;
    border-color: palevioletred;
}